@model IEnumerable<Spa2.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>   
</p>
<p>@ViewBag.message</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                Time
            </th>
            <th>
                Customer Name
            </th>
            <th>
                Service Provider
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProvider)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { AppointmentId = item.AppointmentId })
            </td>
        </tr>
}
    </tbody>
    
</table>
<div><a asp-action="ProviderIndex">Scheduled Appointments</a></div>
