@model SPA.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        ID</dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._firstName)
        </dt>
        First Name<dd>
            @Html.DisplayFor(model => model._firstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._lastName)
        Last Name</dt>
        <dd>
            @Html.DisplayFor(model => model._lastName)
        </dd>
 
    </dl>
</div>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    <a asp-action="CustomerInfo">Back to Customer</a>
</div>
